<main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <p id="notice"><%%= notice %></p>

  <div class="flex justify-between mb-4">
    <h1 class="text-2xl font-semibold"><%= plural_table_name.titleize %></h1>
    <div>
      <%%= link_to 'New <%= singular_table_name.titleize %>', new_<%= singular_route_name %>_path, {
        class: "border py-2 px-4 rounded hover:bg-gray-100"
      } %>
    </div>
  </div>

  <div class="overflow-hidden border border-gray-200 rounded">
    <div class="flex">
  <% attributes.reject(&:password_digest?).each do |attribute| -%>
      <div class="flex-1 px-6 py-3 bg-gray-100 text-left text-xs text-gray-500 uppercase tracking-wider">
        <%= attribute.human_name %>
      </div>
  <% end -%>
      <div class="flex-1 px-6 py-3 bg-gray-100 text-left text-xs text-gray-500 uppercase tracking-wider">
        ACTIONS
      </div>
    </div>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <div class="bg-white flex border-t border-gray-200 hover:bg-gray-100">
  <% attributes.reject(&:password_digest?).each do |attribute| -%>
        <div class="flex-1">
          <%%= link_to <%= model_resource_name %> do %>
            <div class="px-6 py-4 whitespace-no-wrap flex items-center text-gray-900">
              <%%= <%= singular_table_name %>.<%= attribute.column_name %> %>
            </div>
          <%% end %>
        </div>
  <% end -%>
        <div class="flex-1">
          <div class="px-6 py-4 whitespace-no-wrap flex space-x-2 text-gray-900">
            <%%= link_to 'Edit', edit_<%= singular_route_name %>_path(<%= singular_table_name %>) %>
            <span>|</span>
            <%%= link_to 'Destroy', <%= model_resource_name %>, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <%% end %>
  </div>
</main>
